/* header */

.header {
  padding: 92px 50px 96px 50px;
}

.header__menu {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__logo-image {
  max-width: 148px;
}

/* main */

.cover {
  max-width: 100%;
  background-image: url(../images/cover.jpg);
}

/* footer */
