/* header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  font-size: 18px;
  padding-bottom: 5px; /* Pixel Perfect */
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__logo-image {
  width: 140px;
}

.address {
  justify-self: end;
  padding-right: 35px; /* Pixel Perfect */
  padding-bottom: 10px; /* Pixel Perfect */
}

.header__address {
  font-size: 18px;
  font-style: normal;
  line-height: 1.3; /* Pixel Perfect */
}

/* main */

/* footer */
